<template>
  <div class="attacker">
    <h2>You</h2>
    <table>
      <tbody>
        <tr v-for="y in columns" :key="y.y">
          <td
            v-for="x in y.rows"
            :class="isDamage(x)"
            :key="x.x + y.y"
            @click="select({ x: x.x, y: y.y })"
          ></td>
        </tr>
      </tbody>
    </table>
    <box-action v-bind:actions="actions.slice().reverse()" />
    <button-new-game @newgame="reset()" />
    <button-back @back="reset()" />
  </div>
</template>

<script>
import ButtonBack from "../components/ButtonBack";
import ButtonNewGame from "../components/ButtonNewGame";
import BoxAction from "../components/BoxAction";
const defaultColumn = [
  {
    y: 0,
    rows: [
      { x: 0, hit: false, target: false },
      { x: 1, hit: false, target: false },
      { x: 2, hit: false, target: false },
      { x: 3, hit: false, target: false },
      { x: 4, hit: false, target: false },
    ],
  },
  {
    y: 1,
    rows: [
      { x: 0, hit: false, target: false },
      { x: 1, hit: false, target: false },
      { x: 2, hit: false, target: false },
      { x: 3, hit: false, target: false },
      { x: 4, hit: false, target: false },
    ],
  },
  {
    y: 2,
    rows: [
      { x: 0, hit: false, target: false },
      { x: 1, hit: false, target: false },
      { x: 2, hit: false, target: false },
      { x: 3, hit: false, target: false },
      { x: 4, hit: false, target: false },
    ],
  },
  {
    y: 3,
    rows: [
      { x: 0, hit: false, target: false },
      { x: 1, hit: false, target: false },
      { x: 2, hit: false, target: false },
      { x: 3, hit: false, target: false },
      { x: 4, hit: false, target: false },
    ],
  },
  {
    y: 4,
    rows: [
      { x: 0, hit: false, target: false },
      { x: 1, hit: false, target: false },
      { x: 2, hit: false, target: false },
      { x: 3, hit: false, target: false },
      { x: 4, hit: false, target: false },
    ],
  },
];

const defaultShip = [
  {
    ship: "ship 1*2",
    markX: false,
    targets: [
      {
        x: 0,
        y: 0,
        hit: false,
        markX: false,
      },
      {
        x: 0,
        y: 0,
        hit: false,
        markX: false,
      },
    ],
  },
  {
    ship: "2*1",
    markX: false,
    targets: [
      {
        x: 0,
        y: 0,
        hit: false,
      },
      {
        x: 0,
        y: 0,
        hit: false,
      },
    ],
  },
];

function initialState() {
  return {
    move: 0,
    movemiss: 0,
    columns: defaultColumn,
    lengthTable: defaultColumn.length,
    gameEnd: false,
    actions: [],
    ships: defaultShip,
  };
}

export default {
  name: "Attacker",
  data: function () {
    return initialState();
  },
  components: {
    ButtonBack,
    ButtonNewGame,
    BoxAction,
  },
  methods: {
    reset() {
      Object.assign(this.$data, initialState());
      this.randomShip();
    },
    isDamage(x) {
      if (x.hit && x.target) return "app__boardDanger";
      if (x.hit) return "app__boardDark";
      return "";
    },
    select(args) {
      if (!this.gameEnd) {
        if (!this.columns[args.y].rows[args.x].hit) {
          this.columns[args.y].rows[args.x].hit = true;
          this.move++;
          if (
            this.columns[args.y].rows[args.x].hit &&
            !this.columns[args.y].rows[args.x].target
          ) {
            this.movemiss++;
            this.actions.push("Miss");
          } else {
            this.actions.push("Hit");
          }

          this.ships.map((ship) => {
            let markX = true;
            ship.targets.map((target) => {
              if (target.x == args.x && target.y == args.y) {
                target.hit = true;
              }
              if (!target.hit) {
                markX = false;
              }
            });
            if (markX && !ship.markX) {
              ship.markX = true;
              this.actions.push("mark X: " + ship.ship);
            }
          });

          this.gameEnd = true;
          this.columns.map((column) => {
            column.rows.map((row) => {
              if (row.target && !row.hit) {
                this.gameEnd = false;
              }
            });
          });
        } else {
          this.actions.push("เตือน! คุณกดจุดเดิม");
        }
        if (this.gameEnd) {
          this.actions.push("You Win!");
          this.actions.push("จำนวนตาที่เล่น: " + this.move);
          this.actions.push("จำนวน Miss: " + this.movemiss);
          setTimeout(() => {
            alert(
              "You Win! \nจำนวนตาที่เล่น: " +
                this.move +
                "\nจำนวน Miss: " +
                this.movemiss
            );
          }, [100]);
        }
      }
    },
    randomShip() {
      this.columns.map((column) => {
        column.rows.map((row) => {
          row.hit = false;
          row.target = false;
        });
      });
      this.ships.map((ship) => {
        ship.markX = false;
        ship.targets.map((target) => {
          target.x = 0;
          target.y = 0;
          target.hit = false;
        });
      });

      // random ship 2 * 1
      const column21 = Math.floor(Math.random() * this.lengthTable);
      const row21 = Math.floor(Math.random() * (this.lengthTable - 1));
      this.columns[column21].rows[row21].target = true;
      this.columns[column21].rows[row21 + 1].target = true;
      this.ships[0].targets[0].x = row21;
      this.ships[0].targets[0].y = column21;
      this.ships[0].targets[1].x = row21 + 1;
      this.ships[0].targets[1].y = column21;
      // random ship 1 * 2
      let column12 = Math.floor(Math.random() * (this.lengthTable - 1));
      let row12 = Math.floor(Math.random() * this.lengthTable);
      let checkColumn12 = this.columns[column12].rows[row12].target;
      let checkRow12 = this.columns[column12 + 1].rows[row12].target;
      while (checkColumn12 || checkRow12) {
        column12 = Math.floor(Math.random() * (this.lengthTable - 1));
        row12 = Math.floor(Math.random() * this.lengthTable);
        checkColumn12 = this.columns[column12].rows[row12].target;
        checkRow12 = this.columns[column12 + 1].rows[row12].target;
      }
      this.columns[column12].rows[row12].target = true;
      this.columns[column12 + 1].rows[row12].target = true;
      this.ships[1].targets[0].x = row12;
      this.ships[1].targets[0].y = column12;
      this.ships[1].targets[1].x = row12;
      this.ships[1].targets[1].y = column12 + 1;
    },
  },
  mounted() {
    this.randomShip();
  },
};
</script>
