<template>
  <div class="defender">
    <h2>You</h2>
    <table>
      <tbody>
        <tr v-for="y in columns" :key="y.y">
          <td
            v-for="x in y.rows"
            :class="isSelect(x)"
            :key="x.x + y.y"
            @click="select({ x: x.x, y: y.y })"
            @mouseover="overShip({ x: x.x, y: y.y })"
            @mouseleave="outShip()"
          ></td>
        </tr>
      </tbody>
    </table>
    <button class="defender__shipVerticalButton" @click="ship('V')">
      ship 2*1
    </button>
    <button class="defender__shipHorizontalButton" @click="ship('H')">
      ship 1*2
    </button>
    <h2>Computer</h2>
    <table>
      <tbody>
        <tr v-for="y in columns" :key="y.y">
          <td v-for="x in y.rows" :class="isDamage(x)" :key="x.x + y.y"></td>
        </tr>
      </tbody>
    </table>
    <box-action v-bind:actions="actions.slice().reverse()" />
    <button-new-game @newgame="reset()" />
    <button-back @back="reset()" />
  </div>
</template>

<script>
import ButtonBack from "../components/ButtonBack";
import ButtonNewGame from "../components/ButtonNewGame";
import BoxAction from "../components/BoxAction";
const defaultColumn = [
  {
    y: 0,
    rows: [
      { x: 0, hit: false, target: false, hover: false },
      { x: 1, hit: false, target: false, hover: false },
      { x: 2, hit: false, target: false, hover: false },
      { x: 3, hit: false, target: false, hover: false },
      { x: 4, hit: false, target: false, hover: false },
    ],
  },
  {
    y: 1,
    rows: [
      { x: 0, hit: false, target: false, hover: false },
      { x: 1, hit: false, target: false, hover: false },
      { x: 2, hit: false, target: false, hover: false },
      { x: 3, hit: false, target: false, hover: false },
      { x: 4, hit: false, target: false, hover: false },
    ],
  },
  {
    y: 2,
    rows: [
      { x: 0, hit: false, target: false, hover: false },
      { x: 1, hit: false, target: false, hover: false },
      { x: 2, hit: false, target: false, hover: false },
      { x: 3, hit: false, target: false, hover: false },
      { x: 4, hit: false, target: false, hover: false },
    ],
  },
  {
    y: 3,
    rows: [
      { x: 0, hit: false, target: false, hover: false },
      { x: 1, hit: false, target: false, hover: false },
      { x: 2, hit: false, target: false, hover: false },
      { x: 3, hit: false, target: false, hover: false },
      { x: 4, hit: false, target: false, hover: false },
    ],
  },
  {
    y: 4,
    rows: [
      { x: 0, hit: false, target: false, hover: false },
      { x: 1, hit: false, target: false, hover: false },
      { x: 2, hit: false, target: false, hover: false },
      { x: 3, hit: false, target: false, hover: false },
      { x: 4, hit: false, target: false, hover: false },
    ],
  },
];

const defaultShip = [
  {
    ship: "ship 1*2",
    active: false,
    markX: false,
    targets: [
      {
        x: 0,
        y: 0,
        hit: false,
      },
      {
        x: 0,
        y: 0,
        hit: false,
      },
    ],
  },
  {
    ship: "ship 2*1",
    active: false,
    markX: false,
    targets: [
      {
        x: 0,
        y: 0,
        hit: false,
      },
      {
        x: 0,
        y: 0,
        hit: false,
      },
    ],
  },
];

function initialState() {
  return {
    move: 0,
    movemiss: 0,
    orientation: "V",
    turn: "player",
    ships: defaultShip,
    columns: defaultColumn,
    lengthTable: defaultColumn.length,
    gameEnd: false,
    actions: [],
  };
}

export default {
  name: "Defender",
  data: function () {
    return initialState();
  },
  components: {
    ButtonBack,
    ButtonNewGame,
    BoxAction,
  },
  methods: {
    reset() {
      this.columns.map((column) => {
        column.rows.map((row) => {
          row.hit = false;
          row.target = false;
          row.hover = false;
        });
      });
      this.ships.map((ship) => {
        ship.active = false;
        ship.markX = false;
        ship.targets.map((target) => {
          target.x = 0;
          target.y = 0;
          target.hit = false;
        });
      });
      Object.assign(this.$data, initialState());
    },
    isSelect(x) {
      if (x.hit && x.target) return "app__boardDanger";
      if (x.hover && !x.target) return "app__boardHover";
      if (x.hover && x.target) return "app__boardDanger";
      if (x.target) return "app__boardInfo";
      return "";
    },
    isDamage(x) {
      if (x.hit && x.target) return "app__boardDanger";
      if (x.hit) return "app__boardDark";
      return "";
    },
    select(args) {
      if (!this.ships[0].active || !this.ships[1].active) {
        if (this.orientation === "H") {
          if (args.x >= this.lengthTable - 1) {
            alert("วางตำแหน่งไม่ถูกต้อง");
          } else if (
            !this.columns[args.y].rows[args.x].target &&
            !this.columns[args.y].rows[args.x + 1].target
          ) {
            this.columns[args.y].rows[args.x].target = true;
            this.columns[args.y].rows[args.x + 1].target = true;
            this.ships[0].targets[0].x = args.x;
            this.ships[0].targets[0].y = args.y;
            this.ships[0].targets[1].x = args.x + 1;
            this.ships[0].targets[1].y = args.y;
            this.orientation = "V";
            this.ships[0].active = true;
          } else {
            alert("วางเรือซ้ำช่องเดิม");
          }
        } else if (this.orientation === "V") {
          if (args.y >= this.lengthTable - 1) {
            alert("วางตำแหน่งไม่ถูกต้อง");
          } else if (
            !this.columns[args.y].rows[args.x].target &&
            !this.columns[args.y + 1].rows[args.x].target
          ) {
            this.columns[args.y].rows[args.x].target = true;
            this.columns[args.y + 1].rows[args.x].target = true;
            this.ships[1].targets[0].x = args.x;
            this.ships[1].targets[0].y = args.y;
            this.ships[1].targets[1].x = args.x;
            this.ships[1].targets[1].y = args.y + 1;
            this.orientation = "H";
            this.ships[1].active = true;
          } else {
            alert("วางเรือซ้ำช่องเดิม");
          }
        }
        if (this.ships[0].active && this.ships[1].active) {
          this.outShip();
          this.turn = "computer";
          this.attackShip();
        }
      }
    },
    ship(value) {
      if (
        (!this.ships[0].active && value == "H") ||
        (!this.ships[1].active && value == "V")
      ) {
        this.orientation = value;
      }
    },
    outShip() {
      this.columns.map((column) => {
        column.rows.map((row) => {
          row.hover = false;
        });
      });
    },
    overShip(args) {
      this.outShip();
      if (!this.ships[0].active || !this.ships[1].active) {
        if (this.orientation === "H") {
          if (
            args.x < this.lengthTable - 1 &&
            !this.columns[args.y].rows[args.x].hover
          ) {
            this.columns[args.y].rows[args.x].hover = true;
            this.columns[args.y].rows[args.x + 1].hover = true;
          }
        } else if (this.orientation === "V") {
          if (
            args.y < this.lengthTable - 1 &&
            !this.columns[args.y].rows[args.x].hover
          ) {
            this.columns[args.y].rows[args.x].hover = true;
            this.columns[args.y + 1].rows[args.x].hover = true;
          }
        }
      }
    },
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },
    async attackShip() {
      while (!this.gameEnd && this.turn == "computer") {
        let data_row = Math.floor(Math.random() * this.lengthTable);
        let data_column = Math.floor(Math.random() * this.lengthTable);
        let checkCell = this.columns[data_column].rows[data_row].hit;
        while (checkCell) {
          data_row = Math.floor(Math.random() * this.lengthTable);
          data_column = Math.floor(Math.random() * this.lengthTable);
          checkCell = this.columns[data_column].rows[data_row].hit;
        }
        this.columns[data_column].rows[data_row].hit = true;
        this.move++;
        if (
          this.columns[data_column].rows[data_row].hit &&
          !this.columns[data_column].rows[data_row].target
        ) {
          this.movemiss++;
          this.actions.push("Miss");
        } else {
          this.actions.push("Hit");
        }

        this.ships.map((ship) => {
          let markX = true;
          ship.targets.map((target) => {
            if (target.x == data_row && target.y == data_column) {
              target.hit = true;
            }
            if (!target.hit) {
              markX = false;
            }
          });
          if (markX && !ship.markX) {
            ship.markX = true;
            this.actions.push("mark X: " + ship.ship);
          }
        });

        this.gameEnd = true;
        this.columns.map((column) => {
          column.rows.map((row) => {
            if (row.target && !row.hit) {
              this.gameEnd = false;
            }
          });
        });
        await this.sleep(500);
      }
      if (this.turn == "computer" && this.gameEnd) {
        this.actions.push("Computer Win!");
        this.actions.push("จำนวนตาที่เล่น: " + this.move);
        this.actions.push("จำนวน Miss: " + this.movemiss);
        setTimeout(() => {
          alert(
            "Computer Win! \nจำนวนตาที่เล่น: " +
              this.move +
              "\nจำนวน Miss: " +
              this.movemiss
          );
        }, [100]);
      }
    },
  },
};
</script>

<style scoped>
.defender__shipVerticalButton,
.defender__shipHorizontalButton {
  width: 100px;
  color: black;
  display: inline-block;
  background-color: white;
  padding: 1px 6px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.defender__shipHorizontalButton {
  margin-right: 10px;
  margin-top: 10px;
}
.defender__shipHorizontalButton:hover,
.defender__shipVerticalButton:hover {
  background-color: gray;
  color: white;
}
</style>