<template>
  <div class="home">
    <h1 data-testid="title">Battle Ship Game</h1>
    <router-link to="/attacker" class="home__attackerButton">
      Attacker
    </router-link>
    <router-link to="/defender" class="home__defenderButton">
      Defender
    </router-link>
  </div>
</template>

<style scoped>
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__attackerButton,
.home__defenderButton {
  width: 200px;
  color: black;
  display: inline-block;
  background-color: white;
  padding: 11px 16px;
  border: 1px solid black;
  border-radius: 2px;
  text-decoration: unset;
  font-size: 24px;
}
.home__attackerButto {
  outline: none;
}
.home__defenderButton {
  margin-top: 10px;
}
.home__attackerButton:hover,
.home__defenderButton:hover {
  background-color: gray;
  color: white;
}
</style>
