<template>
  <div class="app__boxAction">
    <p v-for="(action, index) in actions" :key="index">
      {{ action }}
    </p>
  </div>
</template>

<script>
export default {
  name: "BoxAction",
  props: ["actions"],
};
</script>