<template>
  <span @click="reset()">
    <router-link to="/" class="app__homeButton">BACK </router-link>
  </span>
</template>

<script>
export default {
  name: "ButtonBack",
  data: function () {
    return {
      buttonTitle: "BACK",
    };
  },
  methods: {
    back() {
      this.$emit("back");
    },
  },
};
</script>