<template>
  <button @click="newgame()" class="app__newGameButton">
    {{ buttonTitle }}
  </button>
</template>

<script>
export default {
  name: "ButtonNewGame",
  data: function () {
    return {
      buttonTitle: "New Game",
    };
  },
  methods: {
    newgame() {
      this.$emit("newgame");
    },
  },
};
</script>