<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
#app,
button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.defender,
.attacker {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
}
tbody td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
tbody td.app__boardDark {
  background-color: black;
}
tbody td.app__boardDanger {
  background-color: red;
}
tbody td.app__boardInfo {
  background-color: blue;
}
tbody td.app__boardHover {
  background-color: gray;
}
.app__newGameButton,
.app__homeButton {
  width: 100px;
  color: black;
  display: inline-block;
  background-color: white;
  padding: 1px 6px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 14px;
}
.app__newGameButton {
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
}
.app__homeButton {
  text-decoration: unset;
}
.app__newGameButton:hover,
.app__homeButton:hover {
  background-color: gray;
  color: white;
}
.app__boxAction {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}
</style>
